// Primary palette
$ft-lightpink: #FFF9F1;
$ft-primarypink: #fff1e0;
$ft-linkblue-text: #2e6e9e;
$ft-linkblue-fill: #4781aa;
$ft-claret-text: #9b164f;
$ft-claret-fill: #9e2f50;
$ft-skyline: #e3dfca;
$ft-orange: #d66d06;
$ft-black: #000;
$ft-white: #fff;

// Greys
$ft-warmgrey1: #a7a59b;
$ft-warmgrey2: #74736c;
$ft-coolgrey1: #777777;
$ft-coolgrey2: #dfded8;
$ft-darkgrey: #43423e ;

// Tints
$ft-tint1: #f6e9d8;
$ft-tint2: #e9decf;
$ft-tint3: #cec6b9; // Text only

// "Colours"
$ft-red: #cc0000;
$ft-green: #458b00;
