<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles/main.css">
        <!--#include virtual="/inc/extras-head-1.html" -->
        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/furniture.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <!--#include virtual="/inc/extras-head-2.html" -->
    </head>
    <body>
        <!--#include virtual="/inc/fallback.html" -->
        <div id="error-msg" class="hidden"></div>
        <header class="furniture"></header>
        <div role="main"></div>
        <footer class="furniture hidden"></footer>

        <!--#include virtual="/inc/extras-foot-1.html" -->
        <!-- build:js scripts/foot.js -->
        <script src="scripts/fill.js"></script>
        <script src="components/jquery/jquery.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
        <!--#include virtual="/inc/extras-foot-2.html" -->
    </body>
</html>
