<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!--#include virtual="/inc/extras-head-1.html" -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="bower_components/ig-furniture/furniture.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/ie-lt9-head.js -->
        <!--[if lt IE 9]>
            <script src="bower_components/html5shiv/src/html5shiv.js"></script>
            <script src="bower_components/es5-shim/es5-shim.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

        <!--#include virtual="/inc/extras-head-2.html" -->
    </head>
    <body>
        <div id="main-content" role="main"></div>
        <footer class="furniture hidden"></footer>
    </body>
</html>
